.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d8d8d8;
}

.header {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.login {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login:hover {
    background-color: #0056b3;
}

.register {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.register:hover {
    background-color: #218838;
}